<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Command Center</title>
    <style>
      .required-field {
        background-color: #ffffe0; /* Light yellow background */
        border: 1px solid #ffcc00; /* Yellow border */
      }
    </style>
  </head>
  <body>
    <h1>Command Center</h1>
    <form action="/command-center/" method="post">
      {% csrf_token %}
      <div>
        <label for="command">Choose a Command:</label>
        <select name="command" id="command">
          <option value="list_organizations">List All Organization</option>
          <option value="create_organization">Create Organization</option>
          <option value="update_organization">Update Organization</option>
          <option value="list_rooms">List Rooms</option>
          <option value="create_room">Create Room</option>
          <option value="access_room">Get Room</option>
          <option value="delete_room">Delete Room</option>
          <option value="update_room">Update Room</option>
          <option value="create_room_permissions">Room Permissions</option>
          <option value="list_room_events">List Room Reservations</option>
          <option value="create_reservation">Reserve</option>
          <option value="create_perreservation">Reserve for Weekly</option>
          <option value="delete_reservation">Delete Reservation</option>
          <option value="access_event">Get Event</option>
          <option value="create_event">Create a New Event</option>
          <option value="list_events">List all events for organization</option>
          <option value="update_event">Update Event</option>
          <option value="create_organization_permissions">
            Get Permissions for Organization
          </option>
          <option value="creat_room_permissions">
            Get Permissions for Room
          </option>
          <option value="create_event_permission">
            Get Permissions for Event
          </option>
          <option value="find_schedule">Find Schedule</option>
          <option value="room_view">Room View</option>
        </select>
      </div>
      <div>
        <label for="org_name">Organization Name:</label>
        <input type="text" id="org_name" name="org_name" />
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" />
      </div>
      <div>
        <label for="field">Update Field:</label>
        <input type="text" id="field" name="field" />
      </div>
      <div>
        <label for="value">Update Value:</label>
        <input type="text" id="value" name="value" />
      </div>
      <div></div>
      <div>
        <label for="room_name">Room Name:</label>
        <input type="text" id="room_name" name="room_name" />
      </div>
      <div>
        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" name="capacity" />
      </div>
      <div>
        <label for="x">X:</label>
        <input type="number" id="x" name="x" />
      </div>
      <div>
        <label for="y">Y:</label>
        <input type="number" id="y" name="y" />
      </div>
      <div>
        <label for="working_hours">Working Hours:</label>
        <input
          type="text"
          id="working_hours"
          name="working_hours"
          placeholder="e.g 09:00-17:00"
        />
      </div>
      <div>
        <label for="event_title">Event Title:</label>
        <input
          type="text"
          id="event_title"
          name="event_title"
          placeholder="Event Title"
        />
      </div>
      <div>
        <label for="duration">Duration:</label>
        <input
          type="number"
          id="duration"
          name="duration"
          placeholder="Duration in minutes."
        />
      </div>
      <div>
        <label for="category">Category:</label>
        <input
          type="text"
          id="category"
          name="category"
          placeholder="e.g Concert, Wedding"
        />
      </div>
      <div>
        <input type="checkbox" id="weekly" name="weekly" value="weekly" />
        <label for="weekly">Weekly</label>
      </div>
      <fieldset>
        <legend>Permissions:</legend>
        <div>
          <input
            type="checkbox"
            id="perm_list"
            name="permissions"
            value="list"
          />
          <label for="perm_list">List Permission</label>
        </div>
        <div>
          <input type="checkbox" id="perm_add" name="permissions" value="add" />
          <label for="perm_add">Add Permission</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="perm_access"
            name="permissions"
            value="access"
          />
          <label for="perm_access">Access Permission</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="perm_delete"
            name="permissions"
            value="delete"
          />
          <label for="perm_delete">Delete Permission</label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Room Permissions:</legend>
        <div>
          <input
            type="checkbox"
            id="list_perm"
            name="room_permissions"
            value="list_permission"
          />
          <label for="list_perm">List Permission</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="reserve_perm"
            name="room_permissions"
            value="reserve_permission"
          />
          <label for="reserve_perm">Reserve Permission</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="perreserve_perm"
            name="room_permissions"
            value="perreserve_permission"
          />
          <label for="perreserve_perm">Permanent Reserve Permission</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="delete_perm"
            name="room_permissions"
            value="delete_permission"
          />
          <label for="delete_perm">Delete Permission</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="write_perm"
            name="room_permissions"
            value="write_permission"
          />
          <label for="write_perm">Write Permission</label>
        </div>
      </fieldset>
      <button type="submit">Execute Command</button>
    </form>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var commandSelect = document.getElementById("command");
        var orgNameInput = document.getElementById("org_name");
        var descriptionInput = document.getElementById("description");
        var fieldInput = document.getElementById("field");
        var valueInput = document.getElementById("value");
        var roomNameInput = document.getElementById("room_name");
        var xInput = document.getElementById("x");
        var yInput = document.getElementById("y");
        var capacityInput = document.getElementById("capacity");
        var workingHoursInput = document.getElementById("working_hours");
        var eventTitleInput = document.getElementById("event_title");
        var durationInput = document.getElementById("duration");
        var categoryInput = document.getElementById("category");
        var weeklyCheckbox = document.getElementById("weekly");
        var roomPermissionsInputs = document.querySelectorAll(
          'input[name="room_permissions"]'
        );

        function clearRequiredFields() {
          var allInputs = [
            orgNameInput,
            descriptionInput,
            fieldInput,
            valueInput,
            roomNameInput,
            xInput,
            yInput,
            capacityInput,
            workingHoursInput,
            eventTitleInput,
            durationInput,
            categoryInput,
          ];
          allInputs.forEach(function (input) {
            input.required = false;
            input.classList.remove("required-field");
          });

          weeklyCheckbox.checked = false;
          roomPermissionsInputs.forEach(function (input) {
            input.required = false;
            input.parentElement.classList.remove("required-field");
          });
        }

        function updateRequiredFields() {
          clearRequiredFields();
          var selectedCommand = commandSelect.value;

          switch (selectedCommand) {
            case "create_organization":
              [orgNameInput, descriptionInput].forEach((input) => {
                input.required = true;
                input.classList.add("required-field");
              });
              break;
            case "update_organization":
              [orgNameInput, fieldInput, valueInput].forEach((input) => {
                input.required = true;
                input.classList.add("required-field");
              });
              break;
            case "list_rooms":
              orgNameInput.required = true;
              orgNameInput.classList.add("required-field");
              break;
            case "create_room":
              [
                orgNameInput,
                roomNameInput,
                xInput,
                yInput,
                capacityInput,
                workingHoursInput,
              ].forEach((input) => {
                input.required = true;
                input.classList.add("required-field");
              });
              break;
            case "create_room_permissions":
              orgNameInput.required = true;
              orgNameInput.classList.add("required-field");
              roomNameInput.required = true;
              roomNameInput.classList.add("required-field");
              roomPermissionsInputs.forEach(function (input) {
                input.required = true;
                input.parentElement.classList.add("required-field");
              });
              break;
            case "access_room":
              orgNameInput.required = true;
              orgNameInput.classList.add("required-field");
              roomNameInput.required = true;
              roomNameInput.classList.add("required-field");
              break;
            case "delete_room":
              orgNameInput.required = true;
              orgNameInput.classList.add("required-field");
              roomNameInput.required = true;
              roomNameInput.classList.add("required-field");
              break;
            case "update_room":
              [
                orgNameInput,
                roomNameInput,
                xInput,
                yInput,
                capacityInput,
                workingHoursInput,
              ].forEach((input) => {
                input.required = true;
                input.classList.add("required-field");
              });
              break;
            case "list_room_events":
              orgNameInput.required = true;
              orgNameInput.classList.add("required-field");
              roomNameInput.required = true;
              roomNameInput.classList.add("required-field");
              break;
            case "create_event":
              [
                orgNameInput,
                eventTitleInput,
                capacityInput,
                durationInput,
                descriptionInput,
                categoryInput,
              ].forEach((input) => {
                input.required = true;
                input.classList.add("required-field");
              });
              break;
            case "list_events":
              orgNameInput.required = true;
              orgNameInput.classList.add("required-field");
              break;
            // Add cases for other commands as needed
            case "update_event":
              [
                orgNameInput,
                eventTitleInput,
                capacityInput,
                durationInput,
                descriptionInput,
                categoryInput,
              ].forEach((input) => {
                input.required = true;
                input.classList.add("required-field");
              });
              break;
            case "access_event":
              orgNameInput.required = true;
              orgNameInput.classList.add("required-field");  
              eventTitleInput.required = true;
              eventTitleInput.classList.add("required-field");
              break;
          }
        }

        commandSelect.addEventListener("change", updateRequiredFields);

        // Initial update on page load
        updateRequiredFields();
      });
    </script>
  </body>
</html>
