<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Command Center</title>
  </head>
  <body>
    <h1>Command Center</h1>
    <form action="/command-center/" method="post">
      {% csrf_token %}
      <div>
        <label for="command">Choose a Command:</label>
        <select name="command" id="command">
          <option value="list_organizations">List All Organization</option>
          <option value="create_organization">Create Organization</option>
          <option value="update_organization">Update Organization</option>
          <option value="list_rooms">List Rooms</option>
          <option value="create_room">Create Room</option>
          <option value="access_room">Get Room</option>
          <option value="delete_room">Delete Room</option>
          <option value="update_room">Update Room</option>
          <option value="list_room_events">List Room Reservations</option>
          <option value="create_reservation">Reserve</option>
          <option value="create_perreservation">Reserve for Weekly</option>
          <option value="delete_reservation">Delete Reservation</option>
          <option value="access_event">Get Event</option>
          <option value="create_event">Create a New Event</option>
          <option value="update_event">Update Event</option>
          <option value="create_organization_permissions">
            Get Permissions for Organization
          </option>
          <option value="creat_room_permissions">
            Get Permissions for Room
          </option>
          <option value="create_event_permission">
            Get Permissions for Event
          </option>
          <option value="find_schedule">Find Schedule</option>
          <option value="room_view">Room View</option>
        </select>
      </div>
      <div>
        <label for="org_name">Organization Name:</label>
        <input type="text" id="org_name" name="org_name" />
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" />
      </div>
      <div>
        <label for="field">Update Field:</label>
        <input type="text" id="field" name="field" />
      </div>
      <div>
        <label for="value">Update Value:</label>
        <input type="text" id="value" name="value" />
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" />
      </div>
      <fieldset>
        <legend>Permissions:</legend>
        <div>
          <input
            type="checkbox"
            id="perm_list"
            name="permissions"
            value="list"
          />
          <label for="perm_list">List Permission</label>
        </div>
        <div>
          <input type="checkbox" id="perm_add" name="permissions" value="add" />
          <label for="perm_add">Add Permission</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="perm_access"
            name="permissions"
            value="access"
          />
          <label for="perm_access">Access Permission</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="perm_delete"
            name="permissions"
            value="delete"
          />
          <label for="perm_delete">Delete Permission</label>
        </div>
      </fieldset>
      <button type="submit">Execute Command</button>
    </form>
  </body>
</html>
